<h4>Hi <%= @receiver.username %>,</h4>

<p>You have been added to the Band Manager App!</p><br>

<p>Please signup for an account here: <%= link_to 'Sign Up', signup_url %></p><br>

<p>Thank you!
<p><%= @content %></p><br>

<p><%= @sender.username %></p><br>