<h3>Set List for <%= @gig.title %></h3>
<% @set_lists.each do |set_list| %>
    <% set_list.songs.each.with_index(1) do |song, i| %>
        <li><%= "#{i}. #{song.title} - #{song.artist}" %></li>
        <% end %><br>
<% end %>

<%=link_to 'Back to Gig Info', gig_path(@gig)%><br>
