<h1>Main</h1><br>
<h2>Hello, <%= current_user.name.split(" ").map(&:capitalize).join(" ") %>!</h2><br>

<%= link_to 'All Gigs', gigs_path %><br>
<%= link_to 'All My Gigs', user_gigs_path(current_user) %><br>
<h2>Admin can see all invoices</h2>
<h2>Show All My Invoices</h2>
<%= button_to 'Logout', logout_path %>

